.box {
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
}
div.container::before
{
    content: "I am created by CSS, I got padding 10px, background color orange and border 2px solid green";
    background-color: orange;
    display: block;
    padding: 10px;
    border: 2px solid green;
}
.box:nth-child(odd){
    background:green;
}
div:nth-of-type(2n):hover{
    background-color:yellow;
}
div .box p:nth-of-type(2n){
    color:red;
}
div.container::after
{
    content: "I am created by CSS, I got padding 10px, background color orange and border 2px solid green";
    background-color: orange;
    display: block;
    border: 2px solid green;
    padding: 10px;
}
